<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://mn.gov/mnit/">MNIT Services Partnering with DNR</a>
      by Je Moua
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
